# Implement LSH from scratch

In this assignment, you will implement LSH from scratch and predict the labels of the test data. You will then verify the correctness of the your implementation using a "grader" function/cell (provided by us) which will match your implmentation.

The grader fucntion would help you validate the correctness of your code. 

Please submit the final Colab notebook in the classroom ONLY after you have verified your code using the grader function/cell.


**NOTE: DO NOT change the "grader" functions or code snippets written by us.Please add your code in the suggested locations.**

Ethics Code:
1. You are welcome to read up online resources to implement the code. 
2. You can also discuss with your classmates on the implmentation over Slack.
3. But, the code you wirte and submit should be yours ONLY. Your code will be compared against other stduents' code and online code snippets to check for plagiarism. If your code is found to be plagiarised, you will be awarded zero-marks for all assignments, which have a 10% wieghtage in the final marks for this course.

## Reading the data from csv file

In [31]:
# Code to mount google drive in case you are loading the data from your google drive
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [32]:
# Loading data from csv file
import pandas as pd
data_path = '/gdrive/MyDrive/AI-ML 1st sem /lsh_assignment_data.csv'

df = pd.read_csv(data_path)
df

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220            NaN  cars pull down us retail figures us retail sal...
2221            NaN  kilroy unveils immigration policy ex-chatshow ...
2222            NaN  rem announce new glasgow concert us band rem h...
2223            NaN  how political squabbles snowball it s become c...
2224            NaN  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [33]:
# Data Overiview
df['category'].value_counts()

sport            509
business         508
politics         415
tech             399
entertainment    384
Name: category, dtype: int64

### Creating Train and Test Datasets

Note that the labels for test data will not be present in the dataset and hence they are mentioned as NaN.

In [34]:
# The last 10 rows in the csv file are query points, so loading them into test data.
# And loading the reamining points to train_data for which labels are given.

train_data = df.iloc[:-10,:]
test_data = df.iloc[-10:,:]

In [35]:
# For train_data here the labels are in the column named "category".
train_data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2210       politics  teens  know little  of politics teenagers ques...
2211  entertainment  lopez misses uk charity premiere jennifer lope...
2212       business  christmas shoppers flock to tills shops all ov...
2213           tech  progress on new internet domains by early 2005...
2214       business  bush budget seeks deep cutbacks president bush...

[2215 rows x 2 columns]

In [36]:
test_data

     category                                               text
2215      NaN  junk e-mails on relentless rise spam traffic i...
2216      NaN  top stars join us tsunami tv show brad pitt  r...
2217      NaN  rings of steel combat net attacks gambling is ...
2218      NaN  davies favours gloucester future wales hooker ...
2219      NaN  beijingers fume over parking fees choking traf...
2220      NaN  cars pull down us retail figures us retail sal...
2221      NaN  kilroy unveils immigration policy ex-chatshow ...
2222      NaN  rem announce new glasgow concert us band rem h...
2223      NaN  how political squabbles snowball it s become c...
2224      NaN  souness delight at euro progress boss graeme s...

In [37]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import itertools
from itertools import product
from numpy import dot
from numpy.linalg import norm

## Custom Implementation

### Instructions:

  1. Read in the train_data.
  2. Vectorize train_data using sklearns built in tfidf vectorizer.
  3. Ignore unigrams and make use of both **bigrams & trigrams** and also limit the **max features** to **4000** and **minimum document frequency** to **10**.
  4. After the tfidf vectors are generated as mentioned above, next task is to generate random hyperplanes.
  5. Generate **5 random hyperplanes**. And generate the hyperplanes using a random normal distribution with **mean zero and variance 1**. 
  6. We have set the **numpy random seed to zero**, please do not change it. And then you can make use of **np.random.normal** to generate the vectors for hyperplanes.
  7. As mentioned in the course videos, compute the hash function and also the corresponding hash table for it.
  8. Once the hash table is generated now take in each of the query points from the test data.
  9. Vectorize those query points using the same tfidf vectorizer as mentioned above.
  10. Now use the hash function on this query point and fetch all the similar data points from the hashtable.
  11. Use cosine similarity to compute **11-Nearest Neighbours** from the list of data points obtained in the above step.
  12. Take a majority vote among the 11-Nearest Neighbours and predict the class label for the query point in the test data.
  13. **In case of a tie** in the obtained labels from nearest neighbours, you can pick a label after sorting all the labels **alphabetically**(A-Z), i.e. for example labels starting with A would get more preference than labels starting with Z.
  14. Repeat steps 9 to 13 for all the points in the test data and then finally return a list with all the predicted labels.
  15. Note that there are a total of 10 data points in the test data so the final list you return should be of length 10.
  16. Also note that the cosine similarity function should be written from scratch, you should not directly make use of existing libraries.
  17. Please use the formula of cosine similarity as explained in the course videos, you can make use of numpy or scipy to calculate dot or norm or transpose.

In [ ]:
# Taken help from appliedroots and applied roots slack channel

In [38]:
# Please implement this fucntion and write your code wherever asked. Do NOT change the code snippets provided by us.

import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

def predictLabels (test_data):
  """
  Given the test_data, return the labels for all the rows in the test data.
  Follow the step by step instructions mentioned above.
  """

  np.random.seed(0)

  ##############################################################
  ####  Write YOUR CODE BELOW  as per the above instructions ###
  ##############################################################
  #df[:2215]

  # Vectorize the train data using TfidfVectorizer
  df_x = train_data.text
  df_y = train_data.category
  ngram_min = 2
  ngram_max = 3

  vectorizer = TfidfVectorizer(ngram_range = (ngram_min,ngram_max),
                                 min_df = 10,
                                 max_features = 4000)

  vectorizer
  tfidf = vectorizer.fit_transform(df_x)
  #print(tfidf.shape)
    
    
  # creating random vectors
  num_categories = 5

  random_vectors = np.random.normal(0,1,(5,4000))
  #print(np.shape(random_vectors))
  #print(random_vectors)
  
  # generating keys for hash table using search_key function
  def search_key(x_vector):
    key_array = x_vector.dot(random_vectors.T)
    key_array = key_array.tolist()  
    key = (tuple(map(lambda x:(0,1)[x>0],key_array[0])))
        
    return tuple(key)
        
        
   # create hash table using search_keyfunction    
  keys = list(product([0,1], repeat=5))
  hash_table = {k:[] for k in keys}

  #print(hash_table)
  idx = 0
  for point in tfidf:
    key = search_key(point)
    hash_table[key].append(idx)
    idx += 1

# vectorize test data using same vectorizer as used in train data
  #print(test_data.shape)
  x_test = test_data.text
  y_test = test_data.category


  x_query = vectorizer.transform(x_test)
  #print(x_query)

    
# function to find cosine similarity
  def cos_sim(neighbor,query):
    c = tfidf[neighbor].dot(query.T)
    a = norm(tfidf[neighbor].toarray(),2)
    b = norm(query.toarray(),2)
    cosine_sim = c/(a*b)
        
    return cosine_sim.todense().item()


# predict the labels for test data
  predicts = []
  #looping through all test data
  for query in x_query:
    query_key = search_key(query)
  # find the neighbors of qury in hashtable
    neighbors = hash_table[query_key]
    neighbors = np.array(neighbors)
    #print(neighbors)

        
    cosine_sim = []
    # looping through all neighbors
    for neighbor in neighbors:
            
      #print(tfidf[neighbor].shape)
      cosine = cos_sim(neighbor,query)
      cosine_sim.append(cosine)
      #print(cosine_sim)  

    # find the 11 nearest neighbors using cosine similarities
    near_11=neighbors[np.argsort(cosine_sim)[::-1][:11]]
    
   # print(near_11)
   # print topmost labels
    top_11_labels = list(df_y[near_11])

    #print(sorted(top_11_labels))
    # checking for top label
    top_label = max(sorted(top_11_labels),key = top_11_labels.count)
    predicts.append(top_label)
    #return the predictions of test data 
  return predicts

In [29]:
#np.array(predictLabels (test_data))

## Grader Cell

Please execute the following Grader cell to verify the correctness of your above implementation. This cell will print "Success" if your implmentation of the predictLabels() is correct, else, it will print "Failed". Make sure you get a "Success" before you submit the code in the classroom.

In [39]:
###########################################
## GRADER CELL: Do NOT Change this.
# This cell will print "Success" if your implmentation of the predictLabels() is correct and the accuracy obtained is above 80%.
# Else, it will print "Failed"
###########################################
import numpy as np

# Predict the labels using the predictLabels() function
Y_custom = np.array(predictLabels(test_data))

# Reference grader array - DO NOT MODIFY IT
Y_grader = np.array(['tech', 'entertainment', 'tech', 'sport', 'business', 'business', 'politics', 'entertainment', 'politics', 'sport'])

# Calculating accuracy by comparing Y_grader and Y_custom
accuracy = np.sum(Y_grader==Y_custom) * 10

if accuracy >= 80:
  print("******** Success ********","Accuracy Achieved = ", accuracy,'%')
else:
  print("####### Failed #######","Accuracy Achieved = ", accuracy,'%')
  print("\nY_grader = \n\n", Y_grader)
  print("\n","*"*50)
  print("\nY_custom = \n\n", Y_custom)

******** Success ******** Accuracy Achieved =  90 %